/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/

body {
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  margin: 0;
  /* background-color: #eeebda; */
  /* z-index: 1; */
}

.nav-row {
  margin: 0;
  height: 3em;
}

nav {
  background-color: #3d4352;
  padding-top: 1em;
  z-index: 2;
  /* position: absolute; */
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  /* padding-top: 1em; */
}

nav a {
  color: white;
  text-decoration: none;
}

#facebook {
  font-size: 1.3em;
}

header {
  background-image: url("./images/header-img.jpg");
  height: 30em;
  /* background-size: contain; */
  background-repeat: no-repeat;
width: 100%;
left: 9em;
  /* background-size: cover; */
  /* width: 80%; */
  margin: auto;
  /* object-fit:fill; */
  /* position: absolute; */
  position: relative;
  /* z-index: 1; */

  transform: scale(1.3);
}

header section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0;
}

h3 {
  color: white;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.wrapper {
  width: 1000px;
  /*
        TODO:
        - Center up the page
        - Create a flexbox containerer for
        the major page sections
    */
}

.page-header {
  /*
        TODO
        - Flexbox property here
    */
}

.page-header section {
  text-align: center;
  padding: 60px 0 120px 0;
  /* font-size: 4em; */
  /*
        TODO:
        - Add a background image "header-img.jpg"
        make sure that the path to the image is correct
    */
  background-size: cover;
  background-position: right bottom;
}

.page-header h1, .page-header h3 {
  margin: 0;
  line-height: 1;
  position: relative;
}

.page-header h1 {
  top: 1em;
  left:-1.75em;
  font-size: 4em;
}

.page-header h3 {
  left:-1.75em;
  font-family: 'Dancing Script', serif;
  font-size: 3em;
  color: white;
  top: .9em;
  text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3);
  /*
        TODO:
        - Use the script font: 'Dancing Script' fot this text
    */

}

#main-navigation {
  background: #444;
  /*
        TODO:
        - Use Flexbox to arrange the navigation links
    */
}

#main-navigation a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  /*
        TODO:
        - Flexbox - Create general spacing between nav links
    */
}

#main-navigation #logo {
  margin-right: 400px;
  /*
        TODO:
        - Flexbox - The logo needs to take up more space
        that the other links
    */
}

main {
  padding: 20px;
  /* background-color: #444; */
  background-color: #eeebda;
  box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3);
  /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
  width: 88%;
  margin: auto;
  /* z-index: 2; */
  position: relative;
  bottom: 3em;
  display: flex;
  margin-bottom: -3em;
}

.blog-row {
  /* display: flex; */
  justify-content: flex-start;
}

.top_div {
  display:flex;
  /* border: 1px dashed black; */
  padding:1em;
}

.bottom_div {
  display:flex;
  display:block;
  /* border: 1px dashed green; */
  padding:1em;
}

.item {
  background-color: white;
  margin: 1em;
  /* border: 1px dashed aqua; */
  padding: 1em;
  min-height: 25em;
  
}

.item div {
  /* display: flex; */
  /* flex-direction: row; */
  /* border: 1px solid blue; */
}

.icon-wrapper {
  /* border: 1px solid blue; */
  padding: .5em;
}

.a {
  /* border: 1px solid blueviolet; */
  padding: .5em;
  width: 40em;
}

.fa {
  /* border: 1px solid red; */
}

.date {
  /* border: 1px solid green; */
  padding: .5em;
}

.category {
  /* border: 1px solid greenyellow; */
  padding: .5em;
}

.blog-img {
  /* border: 2px solid violet; */
  width: 40%;
  float: right;
  /* top:1em;
  position: relative; */
  margin: 1em;
}

.entry-title {
  /* border: 1px solid darkorange; */
}

.primary-txt {
  /* border: 1px solid darkred; */
}

.bottom_div .primary-txt {
  /* background-color: #333; */
  /* width: 50%; */
}

#dino {
  background-image: url("./images/dino.jpg");
  background-size: cover;
  height: 12em;
}

#jupiter {
  background-image: url("./images/pia21776.jpg");
  background-size: cover;
  height: 12em;
}

#ndgt {
  background-image: url("./images/ndgt.jpg");
  background-size: cover;
  height: 12em;
}

#sls-rocket {
  background-image: url("./images/sls-rocket.jpg");
  background-size: cover;
  height: 12em;
}

aside {
  /* padding: 40px; */
  background-color: #eee;
  box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3);
  /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
    /* display: flex; */
    justify-content: flex-end;
    /* margin: 5em; */
    /* width: 90%; */
    width: 200em;
}

.auth-pic  {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  /* padding: 0; */

}

.auth-pic div {
  background-image: url("./images/author.jpg");
  height: 10em;
  width: 10em;
  border-radius: 20em;
  background-size: cover;
  background-position: center;
  margin-top: 2em;
}

/*
.auth-pic div div {
  width: 50%;
} */

aside #auth-pic, aside h3, aside p {
  width: 80%;
  margin: auto;
}

aside h3 {
  text-align: center;
  border-bottom: 1px solid #ccc;

}

aside img {
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid white;
}

aside p {
  /* padding: 85%; */
  /* width: 85%; */
  /* border: 1px solid green; */
  margin: 0 6%;
}

article {
  background-color: white;
  box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
}

article h2 {
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

article time {
  font-size: 0.8em;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  color: #666;
}

article img {
  /*
        TODO:
        - Float article images to the right
        and match sizes and spacing to the mockup
    */
}

article footer p {
  /*
        TODO:
        - Style the article footer
        HINT: Look to the article header;
    */
}

#site-footer {
  background: #333;
  /*
        TODO:
        - Style the site footer
    */
}

footer span {
  display: flex;
  justify-content: center;
  background-color: #3d4352;
}
#bottom{
  margin-top:2em;
}