#section_outside:after {
  content: "";
  display: block;
  clear: both;
}



.container {
  margin: auto;
  width: 80%;
}

nav {
  background: #2e2d2c;
}

header {
  /*border: 3px solid black;*/
  height: 27em;
  background-image: url(./images/header-img.jpg);
  z-index: 2;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 2em;
}

#section_outside {
  margin: auto;
  width: 90%;
  z-index: 1;
  position: relative;
  bottom: 3em;
  background-color: #fef9ed;
  border: 2px solid blue;
}

#section_inside {
  float: left;
  border: 1px solid black;
}

#three{
  float: right;
  /*margin: auto;
  width: 90%;*/
  border: 1px solid black;
}

#article_one{
  border: 1px solid red;
}

#article_two{
  border: 1px solid green;
}

#article_three{
  border: 1px solid blue;
}
